[Unit]
Description=containerd container runtime
Documentation=https://containerd.io
After=network.target

[Service]
#orbstack 上找不到 overlay 模块导致运行报错，先注掉这一行
#ExecStartPre=/sbin/modprobe overlay
ExecStart=/bin/containerd
Restart=always
RestartSec=5
Delegate=yes
KillMode=process
OOMScoreAdjust=-999
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target